.MacarronesCarbonara {
    background-color: burlywood;
}

ul {
    list-style-type: none;
}

span {
    background-color: aqua;
}

body {
    background-color: lightsalmon;
}

img {
    width: 200px;
    height: 200px;
}